.jssc {
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;

	& .jssc__modal {
		width: 60%;
		height: 50%;
		background-color: white;
		position: relative;
	}

	& .jssc__modal-close {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 25px;
		right: 35px;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
		}
	}

	& .jssc__content {
		width: 80%;
		height: auto;
		margin: auto;
	}

	& .jssc__hat {
		display: flex;
		justify-content: space-between;
		border-bottom: solid 2px gray;
		padding: 25px 0;
	}

	& .jssc__title {
		color: #566269;
	}
}